.comunicados{
    margin: 20px 15%;
    background-color: #ffffff;
    border-radius: 6px;
    width:70%;
    padding: 8px 15px 1px 15px;
    border: 1px solid #0000002d;
  }
  
  .comunicados:last-child{
    margin-bottom: 50px;
  }