
.cambioNombre{
    margin-top: 20px;
    
    
}
.innnput{
    width: 40%;
    margin-bottom: 5px;
    float: left;
}

.buton{
    margin-bottom: 10px;
    margin-left: 30px;
}

.codes{
    width: 40%;
    margin-bottom: 5px;
    float: left;
}

.listadousuarios{
    margin: 20px 15%;
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 10px;
    width:70%;
    padding: 8px 15px;
  }