body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./casa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo{
  text-align: center;
  color:rgb(164, 40, 40);
  -webkit-text-stroke: 2px white;
}

.info{
  -webkit-text-stroke: 1px white;
  color:rgb(164, 40, 40);
}

.otrapaginausuario{
  background-color: lightgrey;
  color:black;
  width:  10%;
  height: 28%;
  position: fixed;
  word-wrap: break-word;
  hyphens: auto;
  left: 8px;
  border-radius: 6px;
  transition-duration: 0.3s;
  box-shadow: 1px 1.5px 4px #777;
  padding: 0 3px;
}

.pagina{
  position: relative;
  top:45%;
  width: 100%;
  text-align: center;
}

.pagina.linea2{
  top:38%;
}

.otrapaginaadmin{
  background-color: lightgrey;
  color:black;
  width:  10%;
  height: 28%;
  position: fixed;
  word-wrap: break-word;
  hyphens: auto;
  right: 8px;
  border-radius: 6px;
  transition-duration: 0.3s;
  box-shadow: 1px 1.5px 4px #777;
  padding: 0 3px;
}

.footer{
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  background-color: grey;
  color:white;
  text-align: center;
  
}

#menuNav .active > div {
  background-color: #777;
  color: white;
}

#menuNav a > div:hover {
  background-color: #aaa;
}

#menuNav .active > div:hover {
  background-color: #777;
  color: white;
}
