/*
#CuadroRegistro label{
    display: inline-block;
    width:20%;
    margin-left: 25%;
}

#CuadroRegistro input{
border-style: inset;
width: 40%;
}
*/

#CuadroRegistro #cuadro{
border: solid;
border-color: black;
margin-right: 10%;
margin-left: 10%;
background-color: white;
}

#datos{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
position: fixed;
left: 0%;
bottom: 0%;
width: 100%;
background-color: grey;
color:white;
text-align: center;
}

.innput{
    margin-bottom: 20px;
}

