.votaciones{
    margin: 20px 15%;
    background-color: #ffffff;
    border-radius: 10px;
    width:70%;
    padding: 8px 15px 5px 15px;
    border: 1px solid #0000002d;

}

.votaciones:last-child{
    margin-bottom: 50px;
}